<p id="notice"><%= flash[:notice] %></p>
<p><%= params[:notice] %></p>


<h1><%= @student_group.name.titleize %></h1>
<br/>


<table style="width:90%; text-align: left;">
  <tr>
	<% if Game.find_by_student_group_id(@student_group.id).nil? %>
	<td><%= link_to image_tag('/images/student_management_off.png', :style=>"width:160px;height:160px;", :class=>'rollover', :title=>'Student Manager'), {:controller => :student_group_users, :action => 'new', :sgid=>@student_group.id} %></td>
	  <% end %>
	<td><%= link_to image_tag('/images/quiz_icon_off.png', :style=>"width:150px;height:150px;", :class=>'rollover', :title=>'Assign Quiz'), questionnaire_selection_path(:sgid=>@student_group.id, :questionnaire=>"Quiz") %></td>
	<td>
	  <table>
		<tr>
		  <td><%= link_to image_tag('/images/pre-survey_off.png', :style=>"width:125px;height:78px;", :class=>'rollover', :title=>'Assign Pre-Survey'), questionnaire_selection_path(:sgid=>@student_group.id, :questionnaire=>"PreQuestionnaire") %></td>
		</tr>
		<tr>
		  <td><%= link_to image_tag('/images/post-survey_off.png', :style=>"width:120px;height:75px;", :class=>'rollover', :title=>'Assign Post-Survey'), questionnaire_selection_path(:sgid=>@student_group.id, :questionnaire=>"PostQuestionnaire") %></td>
		</tr>

	  </table>

	</td>
  </tr>
  <tr>
	<td>
	  <%= link_to image_tag("settings_off.png", :style=>"width:160px;height:160px;", :class => "rollover", :title => "Settings for  #{@student_group.name}"), new_student_group_setting_path(:sgid=>@student_group.id) %>
	</td>
	<td>
	  <%= link_to image_tag("messaging_manager_off.png", :style=>"width:160px;height:160px;", :class => "rollover", :title => "Messages for  #{@student_group.name}"), :controller=>:display_messaging, :action=>'show_modes', :sgid=>@student_group.id %>
	</td>


	<% if Game.find_by_student_group_id(@student_group.id).nil? %>


	<% @student_group_users=StudentGroupUser.find_all_by_student_group_id(@student_group.id) %>
	<% if @student_group_users.blank? %>
	  <h2 style="color: red">Please assign students</h2>
	<% elsif @student_group.pre_questionnaire_id.nil? %>
	  <h2 style="color: red">Please assign Pre Questionnaire </h2>
	<% elsif @student_group.quiz_id.nil? %>
	  <h2 style="color: red">Please assign Quiz</h2>
	<% elsif @student_group.post_questionnaire_id.nil? %>
	  <h2 style="color: red">Please assign Post Questionnaire Id</h2>
	<% else %>
	  <td>
		<%= link_to link_to image_tag("proceed.png", :style=>"width:160px;height:160px;", :class => "rollover", :title => "Proceed for Game Creation "), confirm_settings_path(:sgid=>@student_group.id) %>
	  </td>
	<% end %>
	  <% else %>
	    <h2 style="color: green;">Game already created</h2>
	<% end %>

  </tr>

</table>
<br/>
<br/>