<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Type:</b>
  <%= @client.type_of_client %>
</p>

<table>
  <tr>
		<td class="blacky"><%= link_to image_tag('/images/menu/settings_icon_off.png', :style=>"width:50px;height:50px;", :class=>'rollover', :title=>'Manage'), @client %></td>
		<td class="blacky"><%= link_to image_tag('/images/menu/rename_icon_off.png', :style=>"width:40px;height:40px;", :class=>'rollover', :title=>'Rename'), edit_client_path(@client) %></td>
		<td class="blacky"><%= link_to image_tag('/images/menu/delete-icon_off.png', :style=>"width:45px;height:45px;", :class=>'rollover', :title=>'Delete'), @client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  </table>
