<%= form_tag :action => 'create', :sgid=>params[:sgid] %>

<table>
  <tr>


	<% @student_group_users.each_with_index do |sgu, index| %>


	  <%= fields_for "student_group_users[#{index}]", sgu do |f| %>
		<%= f.hidden_field :student_group_id, :value=>params[:sgid].to_i %>

		<% if StudentGroupUser.find(:all, :conditions => ['user_id=? and student_group_id=?', @users[index].id, params[:sgid]]).blank? %>
		  <% @state=false %>
		<% else %>

		  <% @state=true %>
		<% end %>
		<td style="text-align: left;"><b><%= @users[index].first_name + " "+@users[index].last_name %></b></td>
		<td> <%= f.check_box :user_id, {:checked=>@state}, "#{@users[index].id}", "" %></td>

	  <% end %>

	  <% if (index+1)%3 == 0 %>
		</tr>
	  <% end %>


	<% end %>

	</table>
<%= submit_tag %>


