<h1>Listing student_group_settings</h1>

<table>
  <tr>
    <th>Student group</th>
    <th>Time value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_group_settings.each do |student_group_setting| %>
  <tr>
    <td><%= student_group_setting.student_group_id %></td>
    <td><%= student_group_setting.time_value %></td>
    <td><%= link_to 'Show', student_group_setting %></td>
    <td><%= link_to 'Edit', edit_student_group_setting_path(student_group_setting) %></td>
    <td><%= link_to 'Destroy', student_group_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student group setting', new_student_group_setting_path %>
