<h2>Questions for <%= @questionnaire.name %> </h2>

<div style="height:480px;overflow: auto;">
  <ol>
	<% @questions.each do |question| %>
	  <li style="float: left;">
		<b> <%= question.statement+" ( "+question.type.name+ ")" %></b></li>
	  <br>
	  <br>
	  <br>


	  <% if question.type.name=="Open Ended Question" %>
		<p align="left"><%= text_area_tag " ", "Answer Goes here...", :disabled=>true %></p>

	  <% end %>

	  <% if question.options.count > 0 %>
		<% if question.options.count <= 4 %>

		  <% question.options.each do |option| %>
			<ul>
			  <li style="float: left;"><%= option.name %></li>
			  <br>

			</ul>
		  <% end %>
		<% else %>
		  <!--To handle matrix-->

		  <table style="margin-left: 0">
			<tr>
			  <% question.options.each_with_index do |option, index| %>

				<td style="border: 1px solid #000000"><%= option.name %></td>
				<% if (index+1) % 5 == 0 %>

				  </tr>
				<% end %>

			  <% end %>
			  </table>

		<% end %>



		<br>

	  <% else %>
		<% if question.type.name !="Open Ended Question" %>

		  <p>(No Options Added Yet)</p>
		<% end %>
	  <% end %>

	<% end %>

  </ol>
  <%= link_to use_questionnaire_path(:sgid=>params[:sgid], :questionnaire_id=>@questionnaire.id, :questionnaire=>params[:questionnaire]) do %>
	<%= image_tag "assign_questionnaire.jpg", :size=>"200x100" %>
  <% end %>
</div>